doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="A simple Sport blog built with nodejs and backed by MongoDB")
    meta(name="author", content="Ayoub Nejjari")

    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./components/navbar.pug
    block content
    
    include ./components/footer.pug
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
