extends layout

block content
      // /.container
      include ./components/header.pug
      // Main Content
      .container
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              a.btn.btn-tiny.btn-primary(href='manage/articles/add') Create Article
              h1= title
               small
                a(href='/manage/categories')  Manage Categories
              table.table.table-striped
               tr
                th Article Title
                th Category
                th Date Published
                th Author
                th
               tr
                th Title
                th Category
                th Time
                th Author
                td
                  a.btn.btn-tiny.btn-default(href='/manage/articles/edit/1') Edit
